<ion-header titulo="Publicaciones">
    <ion-toolbar>

        <ion-button slot="start">
            <ion-back-button defaultHref="/about">
            </ion-back-button>
        </ion-button>

        <ion-title color="primary">Publicaciones</ion-title>
    </ion-toolbar>
</ion-header>

<ion-grid>
    <ion-col>
        <img src="/assets/images/quedate_portada.jpg">
    </ion-col>
</ion-grid>


<ion-content>
    <ion-card>
        <ion-button href="/inicio" color="medium">
            <ion-icon slot="start" name="share"></ion-icon>
            Crear Publicación
        </ion-button>

        <ion-button href="/fotos" color="success">
            <ion-icon slot="start" name="videocam"></ion-icon>
            Foto/video
        </ion-button>

        <ion-button href="/fotos" color="primary">
            <ion-icon slot="end" name="location"></ion-icon>
            Estoy aquí
        </ion-button>

        <ion-button href="/fotos" color="danger">
            Buscar amigos
            <ion-icon slot="icon-only" name="people"></ion-icon>
        </ion-button>
    </ion-card>
</ion-content>



